// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: .5rem;
$table-cell-padding-sm: .25rem;

$table-cell-vertical-align: top;

$table-color: $body-color;
$table-bg: null;
$table-accent-bg: rgba(black, .05);
$table-hover-color: $table-color;
$table-hover-bg: rgba(black, .075);
$table-active-bg: $table-hover-bg;

$table-border-width: $border-width;
$table-border-color: $border-color;

$table-head-bg: $gray-200;
$table-head-color: $gray-700;
$table-head-border-color: $gray-700;

$table-dark-color: white;
$table-dark-bg: $gray-800;
$table-dark-accent-bg: rgba(white, .05);
$table-dark-hover-color: $table-dark-color;
$table-dark-hover-bg: rgba(white, .075);
$table-dark-border-color: lighten($table-dark-bg, 7.5%);

$table-striped-order: odd;

$table-caption-color: $text-muted;

$table-bg-level: -9;
$table-border-level: -6;