button.octicon-button {

  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  line-height: 1;
  margin: 0 .25em 0 (1em/3);
  outline: none;
  padding: 0 .25em;
  position: relative;
  top: .1em;

  svg {

    vertical-align: baseline;
  }
}